.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@font-face {
    font-family: 'DMSans';
    src: url('assets/fonts/static/DMSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DMSans';
    src: url('assets/fonts/static/DMSans-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'DMSans';
    src: url('assets/fonts/static/DMSans-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

* {
  box-sizing: border-box;
}

:root {
    --Purple-1: hsl(254, 88%, 90%);
    --Purple-2: hsl(256, 67%, 59%);
    
    --Yellow-1: hsl(31, 66%, 93%);
    --Yellow-2: hsl(39, 100%, 71%);
    
    --White: hsl(0, 0%, 100%);
    --Black: hsl(0, 0%, 7%);

    /* Schriftgrößen */
    --font-size-large: 34px; /* für große Schrift */
    --font-size-medium: 25px; /* für mittlere Schrift */
    --font-size-small: 15px; /* für kleine Schrift */
}

body {
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

#grid-bento {
  font-family: 'DMSans';
  font-weight: 500;
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 5 gleich breite Spalten */
  grid-template-rows: repeat(10, auto); /* 10 automatische Zeilen */
  gap: 15px; /* Abstand zwischen den Items */
  grid-template-areas: 
    "grid-item-7 grid-item-1 grid-item-1 grid-item-4"
    "grid-item-7 grid-item-1 grid-item-1 grid-item-4"
    "grid-item-7 grid-item-1 grid-item-1 grid-item-4"
    "grid-item-7 grid-item-1 grid-item-1 grid-item-4"
    "grid-item-7 grid-item-2 grid-item-3 grid-item-4"
    "grid-item-8 grid-item-2 grid-item-3 grid-item-4"
    "grid-item-8 grid-item-2 grid-item-3 grid-item-4"
    "grid-item-8 grid-item-6 grid-item-5 grid-item-5"
    "grid-item-8 grid-item-6 grid-item-5 grid-item-5"
    "grid-item-8 grid-item-6 grid-item-5 grid-item-5";
    max-width: 1440px;
    width: 100%;
    margin: 3rem auto;
}

/* Standardstil für alle Grid-Items */
.grid-item {
  border-radius: 0.3rem;
  overflow: hidden;
  padding: 1rem;
  background-color: white;
  color: black;
  font-size: var(--font-size-medium);
}

/* Zuweisung der Grid-Bereiche */
.grid-item-1 {
  background-color: var(--Purple-2);
  color: var(--White);
  text-align: center;
  font-size: var(--font-size-large);
  grid-area: grid-item-1;
}

.grid-item-2 {
  background-color: var(--White);
  grid-area: grid-item-2;
}

.grid-item-3 {
  background-color: var(--Yellow-2);
  grid-area: grid-item-3;
}

.grid-item-4 {
  background-color: var(--Purple-1);
  color: var(--Black);
  grid-area: grid-item-4;
}

.grid-item-5 {
  background-color: var(--Purple-2);
  color: var(--White);
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: grid-item-5;
}

.grid-item-6 {
  background-color: var(--White);
  grid-area: grid-item-6;
}

.grid-item-7 {
  background-color: var(--Yellow-1);
  grid-area: grid-item-7;
}

.grid-item-8 {
  background-color: var(--Yellow-2);
  grid-area: grid-item-8;
}

/*words in different colors in the middle of text*/

.yellow-word {
  color: var(--Yellow-2);
}

.purple-word {
  color: var(--Purple-2);
  font-family: 'DMSans';
  font-style: italic;
}

.small-font {
  font-size: var(--font-size-small); /* Kleine Schrift */
  color: white;
  font-weight: normal;
}

.small-font2 {
  font-size: 15px;
  color: black;
  display: block;
  font-weight: normal;
  font-style: normal;
  padding: 0.4rem;
}

.italic-style-font {
  font-family: 'DMSans';
  font-style: italic;
}

/* Responsives Design */
@media (max-width: 768px) {
  #grid-bento {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "grid-item-7 grid-item-7"
      "grid-item-1 grid-item-1"
      "grid-item-8 grid-item-8"
      "grid-item-2 grid-item-3"
      "grid-item-4 grid-item-4"
      "grid-item-6 grid-item-5";
  }
  .grid-item {
    grid-column: span 2;
  }
}
